
/* CSS reset */
*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }
   
  /* remove a linha dos links */
  a{
    text-decoration: none;
  }
   
  /* esconde as ancoras da tela */
  a.links{
    display: none;
  }  /*Nos códigos acima, resetamos o CSS e tiramos a linha ( underline ) dos links e escondemos as ancoras ( a.links ).*/



 .content{
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;   
  } /*Criamos a classe ( .content ) que vai envolver nosso conteúdo, ou seja, nossos formulários.*/

  